<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bun Me Daddy</title>
  <link href="/dist/output.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

</head>
<body id="body"
    class="flex justify-center items-center h-screen  border border-solid border-black [background:linear-gradient(180deg,_rgb(249,_168,_212)_0%,_rgba(193.37,_122.47,_160.99,_0.61)_100%)] ">
<header>
</header>
<main id="main" class="flex flex-col items-center justify-center space-y-4 h-1/3">
  <h1 class="text-purple-700 text-8xl font-semibold mb-10">Welcome To The Store!</h1>
    <button hx-post="/enter-site" hx-ext="json-enc" hx-target="#main" hx-vals='{"principle": "emily" }' class=" text-4xl  text-white rounded-3xl w-1/3 h-1/6 border-2 bg-purple-500 justify-center ">
      EMILY!
    </button>
  <button hx-post="/enter-site"  hx-ext="json-enc" hx-vals='{"principle": "parents" }' hx-target="#main" class=" text-3xl text-white rounded-3xl w-1/5 h-1/6 border-2 bg-purple-500 justify-center">
    parents
  </button>

</main>
</body>
</html>
